
  <h1>Home#index</h1>

  <p>Find me in app/views/home/index.html.erb</p>



  <%if user_signed_in? %>

    <%= p current_user.email %>
    <%= p current_user.encrypted_password %>
    <br>
    <%= link_to 'se deconnecter', destroy_user_session_path, method: :delete %>

  <%else %>
    <%= link_to 'se connecter', new_user_session_path %>
  <%end %>
